body {
  margin: 0;
  background-color: #FAFAF8;
}

header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

header > img {
  width: 70px;
  height: 85px;
  margin-right: 10px;
}

header > h1 {
  font-size: 50px;
  font-weight: 500;
}

/* main {
  display: flex;
  justify-content: center;
} */

.main-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.ingredient-input {
  border: 1px solid lightgray;
  margin-right: 12px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 10px;
}

.ingredient-button {
  border: 1px solid;
  background-color: black;
  color: white;
  width: 200px;
  height: 33px;
  border-radius: 5px;
  font-size: 15px;
}